@charset "utf-8";
/*
   @名称: base
   @功能: 重设浏览器默认样式
*/
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{color:#000;background:#fff;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;}
table { border-collapse: collapse; border-spacing: 0 }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53;}
input,select,textarea{font-size:100%;}
/* IE bug fixed: th 不继承 text-align*/
th{text-align:inherit;}
fieldset,img{border:0;}
iframe{display:block;}
/* 去掉 firefox 下此元素的边框 */
abbr,acronym{border:0;font-variant:normal;}
a:focus{outline:none;}
/* 一致的 del 样式 */
del {text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}
/* 去掉列表前的标识, li 会继承 */
ol,ul {list-style:none;}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {text-align:left;}
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
/*CLEARFIX
-------------------------------------------------------------- */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* 链接默认状态  */
a{color:#333; text-decoration:none;}  /* 默认不显示下划线，保持页面简洁 */
a:hover{text-decoration:underline;}   /* 让链接在 hover 状态下显示下划线

/* 字体  */
.yh {font-family:"Microsoft Yahei", "SimHei";}
.f10 { font-size: 10px }
.f12 { font-size: 12px }
.f14 { font-size: 14px }
.f16 { font-size: 16px }
.f18 { font-size: 18px }
.f20 { font-size: 20px }
.f22 { font-size:22px; }
.f24 { font-size:24px }
.f30 { font-size:30px }
.f48{ font-size:48px;}
.fb { font-weight: 600 }
.fn { font-weight: 400 }
.t2 { text-indent: 2em }
.lh18{ line-height:18px;}
.lh20 { line-height:20px }
.lh22 { line-height:22px }
.lh24 { line-height:24px }
.lh30 { line-height:30px; }
.unl { text-decoration: underline }
.no_unl { text-decoration: none }
/*POSITION
-------------------------------------------------------------- */
.tl { text-align: left }
.tc { text-align: center }
.tr { text-align: right }
.bc { margin-left: auto; margin-right: auto }
.fl { float: left; display: inline }
.fr { float: right; display: inline }
.vm { vertical-align: middle; }
.vt { vertical-align: top }
.pr { position: relative }
.pa { position: absolute }
.abs-right { position: absolute; right: 0 }
.abs-left { position: absolute; left: 0 }
.hidden { visibility: hidden }
.none { display: none }
/*MARGIN / PADDING
-------------------------------------------------------------- */
.m5 { margin: 5px }
.m10 { margin: 10px }
.m15 { margin: 15px }
.m20 { margin: 20px }
.m25 { margin: 25px }
.m30 { margin: 30px }
.m50 { margin: 50px }
.mt5 { margin-top: 5px }
.mt10 { margin-top: 10px }
.mt15 { margin-top: 15px }
.mt20 { margin-top: 20px }
.mt25 { margin-top: 25px }
.mt30 { margin-top: 30px }
.mt50 { margin-top: 50px }
.mr5 { margin-right: 5px }
.mr10 { margin-right: 10px }
.mr15 { margin-right: 15px }
.mr20 { margin-right: 20px }
.mr25 { margin-right: 25px }
.mr30 { margin-right: 30px }
.mr50 { margin-right: 50px }
.mb5 { margin-bottom: 5px }
.mb10 { margin-bottom: 10px }
.mb15 { margin-bottom: 15px }
.mb20 { margin-bottom: 20px }
.mb25 { margin-bottom: 25px }
.mb30 { margin-bottom: 30px }
.mb50 { margin-bottom: 50px }
.ml5 { margin-left: 5px }
.ml10 { margin-left: 10px }
.ml13{ margin-left:13px;}
.ml15 { margin-left: 15px }
.ml20 { margin-left: 20px }
.ml25 { margin-left: 25px }
.ml26{ margin-left:26px;}
.ml27{ margin-left:27px;}
.ml30 { margin-left: 30px }
.ml50 { margin-left: 50px }
.p1_ie6{ _padding:1px;}
.p5 { padding: 5px }
.p10 { padding: 10px }
.p15 { padding: 15px }
.p20 { padding: 20px }
.p25 { padding: 25px }
.p30 { padding: 30px }
.p50 { padding: 50px }
.pt5 { padding-top: 5px }
.pt10 { padding-top: 10px }
.pt15 { padding-top: 15px }
.pt20 { padding-top: 20px }
.pt25 { padding-top: 25px }
.pt30 { padding-top: 30px }
.pt50 { padding-top: 50px }
.pr5 { padding-right: 5px }
.pr10 { padding-right: 10px }
.pr15 { padding-right: 15px }
.pr20 { padding-right: 20px }
.pr25 { padding-right: 25px }
.pr30 { padding-right: 30px }
.pr50 { padding-right: 50px }
.pb5 { padding-bottom: 5px }
.pb10 { padding-bottom: 10px }
.pb15 { padding-bottom: 15px }
.pb20 { padding-bottom: 20px }
.pb25 { padding-bottom: 25px }
.pb30 { padding-bottom: 30px }
.pb50 { padding-bottom: 50px }
.pl5 { padding-left: 5px }
.pl10 { padding-left: 10px }
.pl15 { padding-left: 15px }
.pl20 { padding-left: 20px }
.pl25 { padding-left: 25px }
.pl30 { padding-left: 30px }
.pl50 { padding-left: 50px }
.mr-2 { margin-right:-2px; }
.mr-3 { margin-right:-3px; }
.mr-4 { margin-right:-4px; }
.mr-5 { margin-right:-5px; }